
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

li {
  list-style: none !important;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchbar{
  margin: 5rem 0 2rem;
}
.searchbar input{
  border: none;
    border-radius: 20px;
    padding:.8rem 3rem;
    margin: 0 3.3rem;
    font-size: 1.3rem;
    background-color: #f2f2f2;
}
.searchbar input:focus,
.searchbar input.active,
.searchbar input:hover{
  border: 2px solid red !important;
}
.p_holder{
  padding: 2rem;
  background: #ecd4d4;
  border-radius: 10px;
}
p{
  font-size: 1.6rem;
  font-weight: 700;
}
p span{
  color: red;
  display: flex;
  justify-content: center;
}
.ResultHolder{
  width: 250px;
  height: 30px;
}

@media only screen and (max-width:991px) {
  html{font-size: 50%}
}
@media only screen and (max-width:767px) {
  html{font-size: 42.6%}
}